body{
  background-color: #00BFFF;
}

.pixelart{
    width: 20px;
    height: 20px;
    
    box-shadow:
      
      20px 0px 0px 0px #000,
      40px 0px 0px 0px #000,
      540px 0px 0px 0px #000,
      560px 0px 0px 0px #000,
      
      
      /*Segunda Linha*/
      
      
      20px 20px 0px 0px #000,
      40px 20px 0px 0px #000,
      60px 20px 0px 0px #000,
      80px 20px 0px 0px #000,
      500px 20px 0px 0px #000,
      520px 20px 0px 0px #000,
      540px 20px 0px 0px #000,
      560px 20px 0px 0px #000,
      
      
      
      /*Terceira Linha*/
      
      
      
      20px 40px 0px 0px #000,
      40px 40px 0px 0px #000,
      60px 40px 0px 0px #000,
      80px 40px 0px 0px #FFFF00,
      100px 40px 0px 0px #000,
      480px 40px 0px 0px #000,
      500px 40px 0px 0px #FFFF00,
      520px 40px 0px 0px #000,
      540px 40px 0px 0px #000,
      560px 40px 0px 0px #000,
      
      
      
      /*Quarta Linha*/
      
    
      20px 60px 0px 0px #000,
      40px 60px 0px 0px #000,
      60px 60px 0px 0px #000,
      80px 60px 0px 0px #FFFF00,
      100px 60px 0px 0px #FFFF00,
      120px 60px 0px 0px #000,
      140px 60px 0px 0px #000,
      440px 60px 0px 0px #000,
      460px 60px 0px 0px #000,
      480px 60px 0px 0px #FFFF00,
      500px 60px 0px 0px #FFFF00,
      520px 60px 0px 0px #000,
      540px 60px 0px 0px #000,
      560px 60px 0px 0px #000, 
       
      
      
      /*Quinta Linha*/
      
     
      40px 80px 0px 0px #000,
      60px 80px 0px 0px #000,
      80px 80px 0px 0px #FFFF00,
      100px 80px 0px 0px #FFFF00,
      120px 80px 0px 0px #FFFF00,
      140px 80px 0px 0px #FFFF00,
      160px 80px 0px 0px #000,
      420px 80px 0px 0px #000,
      440px 80px 0px 0px #FFFF00,
      460px 80px 0px 0px #FFFF00,
      480px 80px 0px 0px #FFFF00,
      500px 80px 0px 0px #FFFF00,
      520px 80px 0px 0px #000,
      540px 80px 0px 0px #000,
     
      
      /*Sexta Linha*/
      
      
      40px 100px 0px 0px #000,
      60px 100px 0px 0px #000,
      80px 100px 0px 0px #FFFF00,
      100px 100px 0px 0px #FFFF00,
      120px 100px 0px 0px #FFFF00,
      140px 100px 0px 0px #FFFF00,
      160px 100px 0px 0px #FFFF00,
      180px 100px 0px 0px #000,
      200px 100px 0px 0px #000,
      260px 100px 0px 0px #000,
      280px 100px 0px 0px #000,
      300px 100px 0px 0px #000,
      320px 100px 0px 0px #000,
      380px 100px 0px 0px #000,
      400px 100px 0px 0px #000,
      420px 100px 0px 0px #FFFF00,
      440px 100px 0px 0px #FFFF00,
      460px 100px 0px 0px #FFFF00,
      480px 100px 0px 0px #FFFF00,
      500px 100px 0px 0px #FFFF00,
      520px 100px 0px 0px #000,
      540px 100px 0px 0px #000,
      
      
      /*Sétima Linha*/
      60px 120px 0px 0px #000,
      80px 120px 0px 0px #FFFF00,
      100px 120px 0px 0px #FFFF00,
      120px 120px 0px 0px #FFFF00,
      140px 120px 0px 0px #FFFF00,
      160px 120px 0px 0px #FFFF00,
      180px 120px 0px 0px #FFFF00,
      200px 120px 0px 0px #FFFF00,
      220px 120px 0px 0px #000,
      240px 120px 0px 0px #000,
      260px 120px 0px 0px #FFFF00,
      280px 120px 0px 0px #FFFF00,
      300px 120px 0px 0px #FFFF00,
      320px 120px 0px 0px #FFFF00,
      340px 120px 0px 0px #000,
      360px 120px 0px 0px #000,
      380px 120px 0px 0px #FFFF00,
      400px 120px 0px 0px #FFFF00,
      420px 120px 0px 0px #FFFF00,
      440px 120px 0px 0px #FFFF00,
      460px 120px 0px 0px #FFFF00,
      480px 120px 0px 0px #FFFF00,
      500px 120px 0px 0px #FFFF00,
      520px 120px 0px 0px #000,
      
      /*Oitava Linha*/
      
      60px 140px 0px 0px #000,
      80px 140px 0px 0px #FFFF00,
      100px 140px 0px 0px #FFFF00,
      120px 140px 0px 0px #FFFF00,
      140px 140px 0px 0px #FFFF00,
      160px 140px 0px 0px #FFFF00,
      180px 140px 0px 0px #FFFF00,
      200px 140px 0px 0px #FFFF00,
      220px 140px 0px 0px #FFFF00,
      240px 140px 0px 0px #FFFF00,
      260px 140px 0px 0px #FFFF00,
      280px 140px 0px 0px #FFFF00,
      300px 140px 0px 0px #FFFF00,
      320px 140px 0px 0px #FFFF00,
      340px 140px 0px 0px #FFFF00,
      360px 140px 0px 0px #FFFF00,
      380px 140px 0px 0px #FFFF00,
      400px 140px 0px 0px #FFFF00,
      420px 140px 0px 0px #FFFF00,
      440px 140px 0px 0px #FFFF00,
      460px 140px 0px 0px #FFFF00,
      480px 140px 0px 0px #FFFF00,
      500px 140px 0px 0px #FFFF00,
      520px 140px 0px 0px #000,
      
      /*Nona Linha*/
      
      80px 160px 0px 0px #000,
      100px 160px 0px 0px #FFFF00,
      120px 160px 0px 0px #FFFF00,
      140px 160px 0px 0px #FFFF00,
      160px 160px 0px 0px #FFFF00,
      180px 160px 0px 0px #FFFF00,
      200px 160px 0px 0px #FFFF00,
      220px 160px 0px 0px #FFFF00,
      240px 160px 0px 0px #FFFF00,
      260px 160px 0px 0px #FFFF00,
      280px 160px 0px 0px #FFFF00,
      300px 160px 0px 0px #FFFF00,
      320px 160px 0px 0px #FFFF00,
      340px 160px 0px 0px #FFFF00,
      360px 160px 0px 0px #FFFF00,
      380px 160px 0px 0px #FFFF00,
      400px 160px 0px 0px #FFFF00,
      420px 160px 0px 0px #FFFF00,
      440px 160px 0px 0px #FFFF00,
      460px 160px 0px 0px #FFFF00,
      480px 160px 0px 0px #FFFF00,
      500px 160px 0px 0px #000,
      
      /*Décima Linha*/
      
      100px 180px 0px 0px #000,
      120px 180px 0px 0px #FFFF00,
      140px 180px 0px 0px #000,
      160px 180px 0px 0px #FFFF00,
      180px 180px 0px 0px #FFFF00,
      200px 180px 0px 0px #FFFF00,
      220px 180px 0px 0px #FFFF00,
      240px 180px 0px 0px #FFFF00,
      260px 180px 0px 0px #FFFF00,
      280px 180px 0px 0px #FFFF00,
      300px 180px 0px 0px #FFFF00,
      320px 180px 0px 0px #FFFF00,
      340px 180px 0px 0px #FFFF00,
      360px 180px 0px 0px #FFFF00,
      380px 180px 0px 0px #FFFF00,
      400px 180px 0px 0px #FFFF00,
      420px 180px 0px 0px #FFFF00,
      440px 180px 0px 0px #000,
      460px 180px 0px 0px #FFFF00,
      480px 180px 0px 0px #000,
      
      /*Décima Primeira Linha*/
      
      120px 200px 0px 0px #000,
      140px 200px 0px 0px #FFFF00,
      160px 200px 0px 0px #FFFF00,
      180px 200px 0px 0px #FFFF00,
      200px 200px 0px 0px #FFFF00,
      220px 200px 0px 0px #FFFF00,
      240px 200px 0px 0px #FFFF00,
      260px 200px 0px 0px #FFFF00,
      280px 200px 0px 0px #FFFF00,
      300px 200px 0px 0px #FFFF00,
      320px 200px 0px 0px #FFFF00,
      340px 200px 0px 0px #FFFF00,
      360px 200px 0px 0px #FFFF00,
      380px 200px 0px 0px #FFFF00,
      400px 200px 0px 0px #FFFF00,
      420px 200px 0px 0px #FFFF00,
      440px 200px 0px 0px #FFFF00,
      460px 200px 0px 0px #000,
      
      /*Décima Segunda Linha*/
      
      120px 220px 0px 0px #000,
      140px 220px 0px 0px #FFFF00,
      160px 220px 0px 0px #FFFF00,
      180px 220px 0px 0px #FFFF00,
      200px 220px 0px 0px #FFFF00,
      220px 220px 0px 0px #FFFF00,
      240px 220px 0px 0px #FFFF00,
      260px 220px 0px 0px #FFFF00,
      280px 220px 0px 0px #FFFF00,
      300px 220px 0px 0px #FFFF00,
      320px 220px 0px 0px #FFFF00,
      340px 220px 0px 0px #FFFF00,
      360px 220px 0px 0px #FFFF00,
      380px 220px 0px 0px #FFFF00,
      400px 220px 0px 0px #FFFF00,
      420px 220px 0px 0px #FFFF00,
      440px 220px 0px 0px #FFFF00,
      460px 220px 0px 0px #000,
      
        /*Décima Terceira Linha*/
      
      100px 240px 0px 0px #000,
      120px 240px 0px 0px #FFFF00,
      140px 240px 0px 0px #FFFF00,
      160px 240px 0px 0px #FFFF00,
      180px 240px 0px 0px #000,
      200px 240px 0px 0px #000,
      220px 240px 0px 0px #FFFF00,
      240px 240px 0px 0px #FFFF00,
      260px 240px 0px 0px #FFFF00,
      280px 240px 0px 0px #FFFF00,
      300px 240px 0px 0px #FFFF00,
      320px 240px 0px 0px #FFFF00,
      340px 240px 0px 0px #FFFF00,
      360px 240px 0px 0px #FFFF00,
      380px 240px 0px 0px #000,
      400px 240px 0px 0px #000,
      420px 240px 0px 0px #FFFF00,
      440px 240px 0px 0px #FFFF00,
      460px 240px 0px 0px #FFFF00,
      480px 240px 0px 0px #000,
      
      /*Décima Quarta Linha*/
      
      100px 260px 0px 0px #000,
      120px 260px 0px 0px #FFFF00,
      140px 260px 0px 0px #FFFF00,
      160px 260px 0px 0px #000,
      180px 260px 0px 0px #FFFFFF,
      200px 260px 0px 0px #000,
      220px 260px 0px 0px #000,
      240px 260px 0px 0px #FFFF00,
      260px 260px 0px 0px #FFFF00,
      280px 260px 0px 0px #FFFF00,
      300px 260px 0px 0px #FFFF00,
      320px 260px 0px 0px #FFFF00,
      340px 260px 0px 0px #FFFF00,
      360px 260px 0px 0px #000,
      380px 260px 0px 0px #000,
      400px 260px 0px 0px #FFFFFF,
      420px 260px 0px 0px #000,
      440px 260px 0px 0px #FFFF00,
      460px 260px 0px 0px #FFFF00,
      480px 260px 0px 0px #000,
    
      /*Décima Quinta Linha*/
      
      
      100px 280px 0px 0px #000,
      120px 280px 0px 0px #FFFF00,
      140px 280px 0px 0px #FFFF00,
      160px 280px 0px 0px #000,
      180px 280px 0px 0px #000,
      200px 280px 0px 0px #000,
      220px 280px 0px 0px #000,
      240px 280px 0px 0px #FFFF00,
      260px 280px 0px 0px #FFFF00,
      280px 280px 0px 0px #FFFF00,
      300px 280px 0px 0px #FFFF00,
      320px 280px 0px 0px #FFFF00,
      340px 280px 0px 0px #FFFF00,
      360px 280px 0px 0px #000,
      380px 280px 0px 0px #000,
      400px 280px 0px 0px #000,
      420px 280px 0px 0px #000,
      440px 280px 0px 0px #FFFF00,
      460px 280px 0px 0px #FFFF00,
      480px 280px 0px 0px #000,
      
      /*Décima Quinta Linha*/
      
      100px 300px 0px 0px #000,
      120px 300px 0px 0px #FFFF00,
      140px 300px 0px 0px #FFFF00,
      160px 300px 0px 0px #FFFF00,
      180px 300px 0px 0px #000,
      200px 300px 0px 0px #000,
      220px 300px 0px 0px #FFFF00,
      240px 300px 0px 0px #FFFF00,
      260px 300px 0px 0px #FFFF00,
      280px 300px 0px 0px #000,
      300px 300px 0px 0px #000,
      320px 300px 0px 0px #FFFF00,
      340px 300px 0px 0px #FFFF00,
      360px 300px 0px 0px #FFFF00,
      380px 300px 0px 0px #000,
      400px 300px 0px 0px #000,
      420px 300px 0px 0px #FFFF00,
      440px 300px 0px 0px #FFFF00,
      460px 300px 0px 0px #FFFF00,
      480px 300px 0px 0px #000,
      
      
      /*Décima Sexta Linha*/
      
      80px 320px 0px 0px #000,
      100px 320px 0px 0px #FFFF00,
      120px 320px 0px 0px #FFFF00,
      140px 320px 0px 0px #FF0000,
      160px 320px 0px 0px #FF0000,
      180px 320px 0px 0px #FFFF00,
      200px 320px 0px 0px #FFFF00,
      220px 320px 0px 0px #FFFF00,
      240px 320px 0px 0px #FFFF00,
      260px 320px 0px 0px #FFFF00,
      280px 320px 0px 0px #FFFF00,
      300px 320px 0px 0px #FFFF00,
      320px 320px 0px 0px #FFFF00,
      340px 320px 0px 0px #FFFF00,
      360px 320px 0px 0px #FFFF00,
      380px 320px 0px 0px #FFFF00,
      400px 320px 0px 0px #FFFF00,
      420px 320px 0px 0px #FF0000,
      440px 320px 0px 0px #FF0000,
      460px 320px 0px 0px #FFFF00,
      480px 320px 0px 0px #FFFF00,
      500px 320px 0px 0px #000,
      
      /*Décima Sétima Linha*/
      
      80px 340px 0px #000,
      100px 340px 0px 0px #FFFF00,
      120px 340px 0px 0px #FF0000,
      140px 340px 0px 0px #FF0000,
      160px 340px 0px 0px #FF0000,
      180px 340px 0px 0px #FF0000,
      200px 340px 0px 0px #FFFF00,
      220px 340px 0px 0px #FFFF00,
      240px 340px 0px 0px #000,
      260px 340px 0px 0px #FFFF00,
      280px 340px 0px 0px #000,
      300px 340px 0px 0px #000,
      320px 340px 0px 0px #FFFF00,
      340px 340px 0px 0px #000,
      360px 340px 0px 0px #FFFF00,
      380px 340px 0px 0px #FFFF00,
      400px 340px 0px 0px #FF0000,
      420px 340px 0px 0px #FF0000,
      440px 340px 0px 0px #FF0000,
      460px 340px 0px 0px #FF0000,
      480px 340px 0px 0px #FFFF00,
      500px 340px 0px 0px #000,
      
      /*Décima Oitava Linha*/
      
      80px 360px 0px 0px #000,
      100px 360px 0px 0px #FFFF00,
      120px 360px 0px 0px #FF0000,
      140px 360px 0px 0px #FF0000,
      160px 360px 0px 0px #FF0000,
      180px 360px 0px 0px #FF0000,
      200px 360px 0px 0px #FFFF00,
      220px 360px 0px 0px #FFFF00,
      240px 360px 0px 0px #FFFF00,
      260px 360px 0px 0px #000,
      280px 360px 0px 0px #000,
      300px 360px 0px 0px #000,
      320px 360px 0px 0px #000,
      340px 360px 0px 0px #FFFF00,
      360px 360px 0px 0px #FFFF00,
      380px 360px 0px 0px #FFFF00,
      400px 360px 0px 0px #FF0000,
      420px 360px 0px 0px #FF0000,
      440px 360px 0px 0px #FF0000,
      460px 360px 0px 0px #FF0000,
      480px 360px 0px 0px #FFFF00,
      500px 360px 0px 0px #000,
      
      /*Décima Nona Linha*/
      
      
      100px 380px 0px 0px #000,
      120px 380px 0px 0px #FFFF00,
      140px 380px 0px 0px #FF0000,
      160px 380px 0px 0px #FF0000,
      180px 380px 0px 0px #FFFF00,
      200px 380px 0px 0px #FFFF00,
      220px 380px 0px 0px #FFFF00,
      240px 380px 0px 0px #FFFF00,
      260px 380px 0px 0px #000,
      280px 380px 0px 0px #FF0000,
      300px 380px 0px 0px #FF0000,
      320px 380px 0px 0px #000,
      340px 380px 0px 0px #FFFF00,
      360px 380px 0px 0px #FFFF00,
      380px 380px 0px 0px #FFFF00,
      400px 380px 0px 0px #FFFF00,
      420px 380px 0px 0px #FF0000,
      440px 380px 0px 0px #FF0000,
      460px 380px 0px 0px #FFFF00,
      480px 380px 0px 0px #000,
      
      
      /*Vigésima Linha*/
      
      120px 400px 0px 0px #000,
      140px 400px 0px 0px #FFFF00,
      160px 400px 0px 0px #FFFF00,
      180px 400px 0px 0px #FFFF00,
      200px 400px 0px 0px #FFFF00,
      220px 400px 0px 0px #FFFF00,
      240px 400px 0px 0px #FFFF00,
      260px 400px 0px 0px #000,
      280px 400px 0px 0px #FF0000,
      300px 400px 0px 0px #FF0000,
      320px 400px 0px 0px #000,
      340px 400px 0px 0px #FFFF00,
      360px 400px 0px 0px #FFFF00,
      380px 400px 0px 0px #FFFF00,
      400px 400px 0px 0px #FFFF00,
      420px 400px 0px 0px #FFFF00,
      440px 400px 0px 0px #FFFF00,
      460px 400px 0px 0px #000,
      
      /*Vigésima Primeira Linha*/
      
      140px 420px 0px 0px #000,
      160px 420px 0px 0px #000,
      180px 420px 0px 0px #FFFF00,
      200px 420px 0px 0px #FFFF00,
      220px 420px 0px 0px #FFFF00,
      240px 420px 0px 0px #FFFF00,
      260px 420px 0px 0px #FFFF00,
      280px 420px 0px 0px #000,
      300px 420px 0px 0px #000,
      320px 420px 0px 0px #FFFF00,
      340px 420px 0px 0px #FFFF00,
      360px 420px 0px 0px #FFFF00,
      380px 420px 0px 0px #FFFF00,
      400px 420px 0px 0px #FFFF00,
      420px 420px 0px 0px #000,
      440px 420px 0px 0px #000,
      
      /*Vigésima Terceira Linha*/
      
     
      180px 440px 0px 0px #000,
      200px 440px 0px 0px #000,
      220px 440px 0px 0px #000,
      240px 440px 0px 0px #FFFF00,
      260px 440px 0px 0px #FFFF00,
      280px 440px 0px 0px #FFFF00,
      300px 440px 0px 0px #FFFF00,
      320px 440px 0px 0px #FFFF00,
      340px 440px 0px 0px #FFFF00,
      360px 440px 0px 0px #000,
      380px 440px 0px 0px #000,
      400px 440px 0px 0px #000,
      
      /*Vigésima Quarta Linha*/
      
      240px 460px 0px 0px #000,
      260px 460px 0px 0px #000,
      280px 460px 0px 0px #000,
      300px 460px 0px 0px #000,
      320px 460px 0px 0px #000,
      340px 460px 0px 0px #000
      
  }
  